* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/back.png);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.form {
  /* width: 30vw; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 12px rgb(218, 218, 218);
  animation: anm 1s;
}
#changebtn {
  position: absolute;
  top: 20%;
  left: -5%;
  animation: btn 1s;
  z-index: 55;
  cursor: pointer;
}

#login {
  
}
#signup {
  display: none;
}
.head {
  position: relative;
  width: 100%;
  height: 15%;
  text-align: center;
  padding: 40px;
}
h2 {
  color: rgb(122, 8, 151);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85%;
}
.top {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------signup */
.top2 {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.top div,
.top2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a,
#Name,
#Password {
  all: unset;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  background: linear-gradient(
    to top,
    rgb(241, 241, 241) 10%,
    rgb(255, 255, 255) 90%
  );
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px rgb(23, 24, 24);
}
#Name {
  margin-bottom: 25px;
}
.top div label,
.top2 div label {
  color: rgb(255, 255, 255);
  z-index: 5;
  /* background-color: rgb(158, 5, 163); */
  border-radius: 8px;
  box-shadow: 0px 0px 3px 2px rgb(75, 3, 59);
  width: 100px;
  text-align: center;
  align-self: flex-end;
  background: linear-gradient(
    120deg,
    rgb(241, 117, 241),
    rgb(205, 11, 231),
    rgb(144, 0, 228)
  );
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% / 3);
}
.bottom {
  width: 100%;
  height: calc(100% / 3);
}
.p,.center input {
  all: unset;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  background: linear-gradient(
    to top,
    rgb(241, 241, 241) 10%,
    rgb(255, 255, 255) 90%
  );
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px rgb(23, 24, 24);
}
.center div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center div label,
.center label {
  width: 100px;
  align-self: flex-end;
  text-align: center;
  /* background-color: rgb(158, 5, 163); */
  border-radius: 8px;
  z-index: 6;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 2px rgb(75, 3, 59);
  background: linear-gradient(
    120deg,
    rgb(241, 117, 241),
    rgb(205, 11, 231),
    rgb(144, 0, 228)
  );
}

/* -------------------------btn */
.center button,
.btn2,
#changebtn {
  border: none;
  padding: 6px;
  width: 100px;
  height: 40px;
  font-size: 22px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 2px rgb(75, 3, 59);
  background: linear-gradient(
    120deg,
    rgb(165, 32, 218),
    rgb(187, 63, 236),
    rgb(134, 15, 182)
  );
  transition: all 0.1s;
}
.btn2 {
  width: 160px;
  align-self: center;
  margin-top: 15px;
}
.center button:hover,
.btn2:hover {
  cursor: pointer;
  background: linear-gradient(
    120deg,
    rgb(131, 100, 245),
    rgb(102, 66, 192),
    rgb(139, 114, 250)
  );
  box-shadow: 0px 0px 5px 3px rgb(86, 109, 240);
}
.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.bottom div {
  margin: 10px 30px;
  font-size: 18px;
  direction: rtl;
  display: flex;
  align-items: center;
}
.bottom div input {
  margin: 0px 15px;
}
.bottom a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.9s;
}
.bottom a:hover {
  border-bottom: 1px solid rgb(183, 0, 255);
}
.error{
  border-bottom: 1px solid red !important;
}
.agree{
  border-bottom: 1px solid rgb(69, 233, 132) !important

}
.aaa{
  color: rgb(226, 15, 156);
  font-size: large;
  padding: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ________________________animations/others__________ */

input#userName:focus {
  border-bottom: 1px solid rgb(175, 100, 250);
}
input#password:focus {
  border-bottom: 1px solid rgb(171, 89, 253);
}
@keyframes btn {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes anm {
  0%{opacity: 0;transform: scale(.9)};100%{opacity: 1;transform: scale(1)}
}


/* -------------------------checkbox-anime-------- */

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  background-color: #c6c6c6;
  border-radius: 30px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

input:checked[type="checkbox"] {
  background-color: rgb(229, 145, 240);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  transform: scale(1.1);
  transition: all 0.2s;
}

input:checked[type="checkbox"]::before {
  left: 30px;
  background-color: rgb(112, 24, 212);
}

/* ----------------responsive------------------------- */

@media (min-width: 992px) and (max-width: 1200px) {
  .form {
    width: 45vw;
    height: 100vh;
  }
  #userName,
  #Name,
  #pasword,
  #Password,
  #ph,
  #Email {
    height: 2vh;
  }
 
}
@media (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 57vw;
    height: 90vh;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .form {
    width: 57vw;
    height: 80vh;
  }
}
@media (min-width: 568px) and (max-width: 768px) {
  .form {
    width: 77vw;
    height: 80vh;
  }
}
@media (max-width: 568px) {
  .form {
    width: 90%;
    height: 90vh;
  }
  #userName,#Name,#password,#Password,#ph,#Email {
    width: 80%;
    height: 1vh;
  }
}
@media (min-width: 1201px) {
  .form {
    width: 36vw;
    height: 80vh;
  }  #Name,#Password,#ph,#Email {
    width: 80%;
    height: 2vh;
  }
}
@media (min-width: 1400px) {
  .form {
    width: 30vw;
    height: 80vh;
  }
  #Name,#Password,#ph,#Email {
    width: 80%;
    height: 2vh;
  }
}
